page-store-location-modal {
    #mapSize {
        height: 100%;
        margin-top: 1em;
    }
    
    #txtHome{
        margin-left: 15px;
        border: 1px solid gray;
        border-radius: 10px;
    }
}
